.black{
    background: #000;
    box-shadow: 0 0 10px 1px #000;
}
.white{
    background-color: #fff;
    box-shadow: 0 0 10px 1px #000;
}
.black, 
.white{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none!important;
}
*{
    transition: all .3s ease-in-out;
}
html{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
body{
    width: 100%;
    height: auto;
    background: #fff;
    /* font-size: 62.5%; */
    /* background-image: url('../img/bg6.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
.switch{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100vh;
    z-index: 999;
    background:#000;
    box-shadow: 0px 0px 10px 0px #000;
    transition: all .5s ease-in-out;
}
.switch::after{
    position: absolute;
    top: 95%;
    left: calc(50% - 5px);
    content: '';
    width: 10px;
    height: 10%;
    border-radius: 10px;
    background: #fff;
}
.switch.hide{
    /* left: -100px; */
    bottom: 100vh;
}
.switch.hover .pbg{
    opacity: 1;
}
.switch .pbg{
    position: fixed;
    background: #fff;
    opacity: 0;
}
.switch label[for=AI]{
    background-image: url('../img/robot.jpg');
}
.switch label[for=online]{
    background-image: url('../img/online.jpg');
}
.switch label[for=skin],
.switch label[for=hack]{
    cursor: not-allowed;
}
.switch label{
    width: 80px;
    height: 80px;
    color: green;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px 0;
    border-radius: 10px;
}
.switch label[for=AI]::after,
.switch label[for=online]::after{
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, .8);
    content: '';
}
.switch label.active::after{
    display: none;
}
.switch input{
    display: none;
}
.switch label.hover p{
    display: block;
    opacity: 1;
}
.switch p{
    position: fixed;
    left: 100px;
    display: none;
    max-height: 100px;
    opacity: 0;
    font-size: 20px;
    padding: 3px 5px;
    background: #fff;
    border-radius: 10px;
}
.chess{
    position: absolute;
    top: -40px;
    left: 100px;
    width: 1024px;
    height: 1024px;
    background-image: url('../img/bg3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* z-index: 1000; */
}
.light{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 60px;
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 50%;
}
.chat{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    width: 360px;
    max-height: calc(100vh - 280px);
    min-height: 30px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    z-index: 1000;
    overflow: hidden;
    /* overflow-y: -moz-scrollbars-none; */
    /* -ms-overflow-style: none; */
}

.chat.hide{
    right: -360px;
}
.content{
    width: 100%;
    max-height: 100%;
    padding: 30px 5px 0;
    box-sizing: border-box;
    overflow-y: scroll;
}
/* .content::-webkit-scrollbar { width: 0 !important } */
.content .input{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: flex-start;
}
.content .broadcast{
    text-align: center;
    color: green;
}
.content .input[pos=right]{
    color: greenyellow;
    align-items: flex-end;
}
form{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 30px;
}
form > input,
form label{
    flex: 1;
    height: 30px;
    border: none;
}
form label{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../img/send.jpg);    
}
form input:first-of-type{
    flex: 11;
    padding: 0;
    outline: none;
    background: #ccc;
}
form label input{
    display: none;
}
.live{
    position: absolute;
    right: 0;
    bottom: 0;
}
.live .local{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 360px;
    height: auto;
    background: #ccc;
    z-index: 1000;
}
.live .online{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 700px;
    height: 100vh;
    background: #333;
    z-index: 999;
}
.config{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 25px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: rotating 3s ease-in-out infinite reverse;
    background-image: url(../img/set.jpg);
}
.config:hover{
    animation: none;
}
@keyframes rotating{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
.msgbox{
    position: fixed;
    right: 100px !important;
    z-index: 1000;
    opacity: 1 !important;
    background: #fff;
    color: peru;
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}
.msgbox.fadeout{
    /* display: none; */
    opacity: 0 !important;
    right: -200px !important;
}
